/*Styling*/
.text-light {
	color: gray;
}

.tag__title {
	margin-bottom: 8px;
}

.tag__title--light {
	font-size: 16px;
	font-weight: 400;
}

.tag__content--bottom {
	border-bottom: 1px solid lightgray;
}

.tag__content--top {
	border-top: 1px solid lightgray;
}

/*need to account for dark theme*/
.is-flashing {
	transition: all 0.25s ease;
	background-color: rgb(255, 208, 0) !important;
	mix-blend-mode: lighten;
	opacity: 40;
	border-radius: var(--radius-s);
}
